body {
	font-size:11pt;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	padding: 0px;
	margin:0px;
}

/*.login-label {
	clear: left;
	float: left;
	position: relative;
	text-align: right;
	width: 140px;
	font-size: 14px;
}

.login-textfield {
	float: left;
}*/

#background{
margin-left:auto;
margin-right:auto;
margin-top:auto;
width:auto;
height:670px;
background-image:url(images/background_2.png);
background-repeat:no-repeat;
background-position:top;
}

#login-div {
	z-index: 1;
	margin-left: auto;
	margin-bottom: auto;
	margin-right: auto;
	padding-top:230px;
/*	padding: 20px;
	height: 100px;*/
	border-style: none;
	width: 350px;
	position: relative;
}

input, textarea, select {
	width:250px;
	height:30px;
	margin-top:10px;
	margin-left: auto;
	margin-right: auto;
	background:white none repeat scroll 0 0;
	border:1px solid #5987C6;
	color:gray;
	font-family:"Lucida Grande",Geneva,Arial,Verdana,sans-serif;
	font-size:1.3em;
	text-align: center;
}

input:focus {
border:2px solid black;
}


#checkbox{
margin-top:15px;
/*margin:0 auto;*/
}

#checkbox input{
height:auto;
width:auto;
margin-right:10px;}

.lable{
margin-left:0px;
padding-left:10px;
color:white;
font-size:.8em;
}

label{
color:white;
font-size:.8em;
}

#loginbutton{
margin-top:30px;
}

#loginbutton button{
padding:.4em;
width:9em;
color:gray;
border:1px solid #5987C6;
-webkit-border-radius: .4em;
-moz-border-radius: .4em;
border-radius: .4em;
	font-family:"Lucida Grande",Geneva,Arial,Verdana,sans-serif;
	font-size:1.3em;
	background-image: url(images/bg_button.png);
	/*background:Gray none repeat scroll 0 0;*/
}

#loginbutton button:hover{
color:black;
text-shadow: 1px 1px 1px white;
}


#docasu-frame {
	position: absolute;
	top: 0px;
	left: 0px;
}
