.active {
	background: transparent url(../images/Tab.png) no-repeat scroll 0% 50%;
	height: 40px;
	width: 160px;
	padding-left: 10px;
	float: left;
	position:relative;
	top:12px;
	left:0px;
}

.extra-large-active {
	background: transparent url(../images/Tab3.png) no-repeat scroll 0% 50%;
	height: 40px;
	width: 160px;
	padding-left: 10px;
	float: left;
	position:relative;
	top:12px;
	left:0px;
}

.inactive {
	padding-left: 10px;
	float: left;
	position:relative;
	top:12px;
	left:0px;
	width: 160px;
}

.related-sites-div{
	float:left;
	padding-bottom:10px;
	padding-right:30px;
	width:250px;
	padding-top:15px;
}

.related-sites-text{
	float:left;
	padding-top:15px;
	position: relative;
	top:10px;
	left:0px;
}	


#content-bottom{
	left:47px;
	position:relative;
	top:865px;
}